body {
    font-family: 'Open Sans', sans-serif;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #033649;
    color: #FFFFFF;
}

.judul {
    font-family: 'Princess Sofia'; 
    font-size: 300%;
}

.nomargin {
    margin-top : 0px;
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
}

.topmargin {
    margin-top : 5px;
    margin-bottom : 0px;
    margin-left : 0px;
    margin-right : 0px;
}

.bottommargin {
    margin-top : 0px;
    margin-bottom : 5px;
    margin-left : 0px;
    margin-right : 0px;
}

.bottompadding {
    padding-bottom : 5px;
}

.column {
    float: left;
    width: 50%;
}

.column1 {
    float: left;
    width: 25%;
}

.column2 {
    float: left;
    width: 50%;
}

.columngraph {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.garisputih {
    background:white;
    height: 10px;
}

.gariskuning {
    background:#faeb1c;
    height: 20px;
}

.bgbirumuda {
    background: #057bab
}