<!doctype html>
<head>
    <title>Angkot to School</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/spatial_style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/chart_style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

</head>
<body>
    <div style="text-align: center;">
        <h1>Angkot to School</h1>
        Seberapa Siapkah Kota Bandung?
    </div>
    <hr>
    <p>Program “Angkot to School” merupakan program yang direncanakan pemerintah kota Bandung untuk mengatasi kemacetan.
            Dalam program ini, angkot memiliki fungsi yang sama dengan bis sekolah, yaitu menjemput dan mengantar siswa di titik kumpul.
            Dengan demikian, jumlah kendaraan pribadi akan berkurang pada saat jam antar jemput sekolah.</p>
    <div class="row">
        <div class="column">
            <div class="column1">
                <form action="" method="post">
                    <p>Jumlah siswa/angkot</p>
                        <input type="text" value="10">
                    <!-- <p>Angkot</p>
                    {% for tryk in trayek["trayek"] %}
                        <input type="checkbox" name="trayek" value={{tryk}}> {{ tryk }}
                        <br>
                    {% endfor %} -->
                </form>
            </div>
            
            <div class="column2">
                <form action="" method="post">
                    <p>Sekolah</p>
                        <input type="checkbox" name="sekolah" value="SD"> SD
                        <input type="checkbox" name="sekolah" value="SMP"> SMP
                        <input type="checkbox" name="sekolah" value="SMK"> SMK
                        <input type="checkbox" name="sekolah" value="SMA"> SMA
                        <input type="checkbox" name="sekolah" value="SLB"> SLB
                    <!-- <p>Kecamatan</p>
                    {% for kec in kecamatan["kecamatan"] %}
                        <input type="checkbox" name="kecamatan" value={{kec}}> {{ kec |capitalize }}
                        <br>
                    {% endfor %} -->
                </form>
            </div>
            <div id="mapid"></div>
        </div>
        <div class="column">
            <div class="row">
                <div id="kecamatan"></div>
                <div id="total"></div>
                <div id="total_bubble"></div>
                <p>Bagian ini berisi kesimpulan</p>
                <p>Bagian ini berisi sumber data</p>
            </div>
        </div>
    </div>
    <div id="chartKecamatan"></div>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin="">
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
    <script type="text/javascript" src="../static/javascript/spatial_data.js"></script>
    <script type="text/javascript" src="../static/javascript/spatial.js"></script>
    <script type="text/javascript" src="../static/javascript/chart.js"></script> 
    <script type="text/javascript" src="https://cdn.zingchart.com/zingchart.min.js"></script>

    {% for geo in spatial %}
        <script>
            addCircle(
                '{{ geo[1]["coordinates"][0] }}',
                '{{ geo[1]["coordinates"][1] }}',
                '{{ geo[2]/100 }}',
                'red',
                0.5);
            addCircle(
                '{{ geo[1]["coordinates"][0] }}',
                '{{ geo[1]["coordinates"][1] }}',
                '{{ geo[2]/10 }}',
                'blue',
                0.0);
        </script>
    {% endfor %}

    <script>
        var kebKecamatan = [];
        var kebSiswa = [];
        var kebAngkot = [];
        var kebKebutuhan = [];
    </script>
    {% for kebKecamatan in kebutuhan["kecamatan"] %}
        <script> kebKecamatan.push('{{ kebKecamatan |capitalize }}');</script>
    {% endfor %}

    {% for kebSiswa in kebutuhan["siswa"] %}
        <script> kebSiswa.push('{{ kebSiswa }}');</script>
    {% endfor %}

    {% for kebAngkot in kebutuhan["angkot"] %}
        <script> kebAngkot.push('{{ kebAngkot }}');</script>
    {% endfor %}

    {% for kebKebutuhan in kebutuhan["kebutuhan"] %}
        <script> kebKebutuhan.push('{{ kebKebutuhan }}');</script>
    {% endfor %}

    <script>
        setDataKecamatan(kebKecamatan, kebAngkot, kebSiswa);
    </script>

    <script>
        setDataTotal('{{ angkot_total }}', '{{ siswa_total["total"] }}');
    </script>
</body>