<!doctype html>
<head>
    <title>Angkot to School</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/spatial_style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/chart_style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Princess Sofia" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'/>

    <!--<script type="text/javascript" src="../static/javascript/filter.js"></script>-->
</head>
<body>
    <div style="text-align: center;">
        <h1 class="judul nomargin">Angkot to School</h1>
        <subh1 class="topmargin">Seberapa Siapkah Kota Bandung?</subh1>
    </div>
    <hr class="garisputih topmargin">
    <hr class="gariskuning nomargin">
    <p style="text-align: justify;">Program “Angkot to School” merupakan program yang direncanakan pemerintah kota Bandung untuk mengatasi kemacetan.
            Dalam program ini, angkot memiliki fungsi yang sama dengan bis sekolah, yaitu menjemput dan mengantar siswa di titik kumpul.
            Dengan demikian, jumlah kendaraan pribadi akan berkurang pada saat jam antar jemput sekolah.</p>
    <div class="row">
        <div class="column">
            <!--form action="" method="post">
                <div class="column1">
                    <p>Jumlah siswa/angkot
                        <br>
                        <input type="number" value="5" min="1" onkeyup="setKapasitas(this.value)">
                    </p>-->
                    <!-- <p>Angkot</p>
                    {% for tryk in trayek["trayek"] %}
                        <input type="checkbox" name="trayek" value={{tryk}}> {{ tryk }}
                        <br>
                    {% endfor %} -->
            <!--</div>
            
                <div class="column2">
                    <p>Jenis Sekolah
                    <br>
                        <input type="checkbox" name="sekolah" value="SD" checked> SD
                        <input type="checkbox" name="sekolah" value="SMP" checked> SMP
                        <input type="checkbox" name="sekolah" value="SMK" checked> SMK
                        <input type="checkbox" name="sekolah" value="SMA" checked> SMA
                        <input type="checkbox" name="sekolah" value="SLB" checked> SLB
                    </p>-->
                    <!-- <p>Kecamatan</p>
                    {% for kec in kecamatan["kecamatan"] %}
                        <input type="checkbox" name="kecamatan" value={{kec}}> {{ kec |capitalize }}
                        <br>
                    {% endfor %} -->
            <!--</div>
            </form>-->
            <div id="mapid"></div>
            <p style="text-align: justify;">Dari hasil visualisasi dapat disimpulkan bahwa kota Bandung masih kekurangan jumlah angkot untuk menjalankan program "Angkot to School".
                    Dari 30 kecamatan, hanya 1 kecamatan yang jumlah angkotnya terpenuhi, yaitu Cinambo. Secara keseluruhan banyak angkot yang
                terpenuhi yaitu sebanyak 
                <script>
                    document.write(Math.round(
                        ('{{ angkot_total }}') / (('{{ siswa_total["total"] }}') / 10) * 100
                    ));
                </script>
                    %
                </p>
            <p>Sumber data:
                <br><a href="http://data.bandung.go.id/dataset/data-trayek-angkutan-di-kota-bandung/resource/1bda7517-19c2-466a-9b99-bd7421fca93d"
                    style="color: white;">
                    data.bandung.go.id</a>
                <br><a href="http://dapo.dikdasmen.kemdikbud.go.id/pd/2/026000"
                    style="color: white;">
                    dapo.dikdasmen.kemdikbud.go.id</a>
                <br><a href="https://transportasiumum.com/content/rute-angkot-bandung/"
                    style="color: white;">
                    transportasiumum.com</a>
            </p>
        </div>
        <div class="column">
            <div class="row">
                <div id="total_bubble"></div>
                <div id="kecamatan"></div>
            </div>
        </div>
    </div>
    <!-- <div id="chartKecamatan"></div> -->

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin="">
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
    <script type="text/javascript" src="../static/javascript/spatial_data.js"></script>
    <script type="text/javascript" src="../static/javascript/chart.js"></script> 
    <script type="text/javascript" src="https://cdn.zingchart.com/zingchart.min.js"></script>

    <script>
        var kebKecamatan = [];
        var kebAngkot = [];
        var jmlAngkot = [];
    </script>
    {% for kebKecamatan in spatial %}
        <script> kebKecamatan.push('{{ kebKecamatan[0] |capitalize }}');</script>
    {% endfor %}

    {% for kebAngkot in spatial %}
        <script> kebAngkot.push('{{ kebAngkot[2]/10 }}');</script>
    {% endfor %}

    {% for jmlAngkot in spatial %}
        <script> jmlAngkot.push('{{ jmlAngkot[3] }}');</script>
    {% endfor %}

    <script>
        setDataKecamatan(kebKecamatan, jmlAngkot, kebAngkot);
    </script>

    <script>
        setDataTotal('{{ angkot_total }}', '{{ siswa_total["total"] }}');
    </script>

    <script type="text/javascript" src="../static/javascript/spatial.js"></script>
    {% for geo in spatial %}
        <script>
            addCircle(
                '{{ geo[1]["coordinates"][0] }}',
                '{{ geo[1]["coordinates"][1] }}',
                '{{ geo[2]/20 }}',
                'white',
                '#E12F2F',
            0.8);
            if (parseInt('{{ geo[3]/2 }}') > 0) {
                addCircle(
                    '{{ geo[1]["coordinates"][0] }}',
                    '{{ geo[1]["coordinates"][1] }}',
                    '{{ geo[3]/2 }}',
                    'white',
                    '#28B67C',
                0.8);
            }
        </script>
    {% endfor %}
</body>